body {
    background-color: #abf3a1;
    padding: 10px;
}

h1 {
    font-family:sans-serif;
    text-align: center;
}

.tags {
    color: #9b2226;
    text-decoration: underline;
    font-size: 20px;
}

.english {
    font-size: 30px;
}

.patient {
    font-size: 27px;
}

.comunication {
    font-size: 24px;
}

.colaboration {
    font-size: 21px;
}

.persist {
    font-size: 18px;
}

#foto {
    float: left;
    height: 280px;
    padding: 10px;
    background-color: green;
}
 .imgdesc {
     height: 300px;
     position: relative;
}

ul li:nth-child(odd) {
    color:green;
}

#desc {
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 1px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav li {
    display: inline-block;
    margin-right: 10px;
}