.name {
    font-family:sans-serif;
    text-align: center;
}

body {
    background-color: #90dbf4;
}
.tags {
    color: #9b2226;
    text-decoration: underline;
    font-size: 20px;
}
.english {
    font-size: 30px;
}
.patient {
 font-size: 27px;
}
.comunication {
 font-size: 24px;
}
.colaboration {
 font-size: 21px;
}
.persist {
 font-size: 18px;
}
img {
    width: 200px;
    background-color: darkgreen;
    padding: 10px;
}
.desc {
    position: absolute;
    top: 185px;
    left: 230px;
}